<!DOCTYPE html>
<html>
  <head>
    <title>Item List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <%- include('../partials/navbar') %>
      <div class="container-fluid page-body-wrapper">
        <div class="container">
          <div class="col-12">
            <br />
            <h2 class="card-title">Inquiry List</h2>
            <br />
            <a href="/items/add" button class="btn btn-sm btn-primary">Add</a>
            <a href="/dashboard" button class="btn btn-sm btn-secondary">Dashboard</a>
            <hr />
          </div>

          <!-- The rest of your HTML file... -->

          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Status</th>
                <th>SHPT #</th>
                <th>Inquiry#</th>
                <th>POL</th>
                <th>POD</th>
                <th>Mode</th>
                <th>Type</th>
                <th>Order Date</th>
                <th>ETD</th>
                <th>Track</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% items.forEach(function(item){ %>
              <tr>
                <td><%= item.id %></td>
                <td>
                  <label class="badge badge-success"><%= item.status %></label>
                </td>
                <td><%= item.shpt %></td>
                <td>
                  <a href="/items/detail/<%= item.id %>"><%= item.iqr %></a>
                </td>
                <th><%= item.pol %></th>
                <th><%= item.pod %></th>
                <th><%= item.mode %></th>
                <th><%= item.type %></th>
                <th><%= item.order_date %></th>
                <th><%= item.etd %></th>
                <td>
                  <a
                    href="/items/tracking/<%= item.id %>"
                    class="btn btn-sm btn-success"
                    ><i class="fas fa-map-marker-alt"></i
                  ></a>
                </td>

                <td>
                  <a
                    href="/items/edit/<%= item.id %>"
                    class="btn btn-sm btn-warning"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <form
                    action="/items/delete/<%= item.id %>"
                    method="POST"
                    style="display: inline-block"
                  >
                    <button type="submit" class="btn btn-sm btn-danger">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- The rest of your HTML file... -->
    </div>
    <%- include('../partials/footer') %>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/bundlebase.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
