<!DOCTYPE html>
<html>
  <head>
    <title>Modify Item</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-scroller">
      <%- include('../partials/navbar') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('../partials/sidebar') %>

          <div class="main-panel">
              <div class="content-wrapper">
      <form action="/items/edit/<%= item.id %>" method="POST">
        <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-8 grid-margin stretch-card mt-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Shipping Request UZB</h4>
                                <hr>
                                    <div class="row"> 

        <div class="form-group col-sm-4">
          <label for="status">status:</label>
          <select class="form-control" id="status" name="status" value="<%= item.status %>" required>
            <option value>--Select Status--</option>
                                                  <option value="Checking">Checking</option>
                                                  <option value="Cancel">Cancel</option>
                                                  <option value="진행중">진행중</option>
                                              </select>
        </div>
       <div class="form-group col-sm-4">
          <label for="shpt" class="col-sm-4">Shpt #:</label>
          <input type="text" class="form-control" id="shpt"
                                              name="shpt" value="<%= item.shpt %>"/>
                                          </div>
        <div class="form-group col-sm-4">
          <label for="iqr">Inquiry#:</label>
           <input type="text" class="form-control" id="iqr"
                                              name="iqr" value="<%= item.iqr %>" required />
        </div>
        <div class="form-group col-sm-4">
          <label for="order_date">ORDER DATE:</label>
          <input
            type="date"
            class="form-control"
            id="order_date"
            name="order_date"
            value="<%= item.order_date %>"/>
        </div>
        </div>

        <div class="form-group col-sm-8">
          <label for="shpr">Shipper:</label>
          <input
            type="text"
            class="form-control"
            id="shpr"
            name="shpr"
            value="<%= item.shpr %>"
            required />
        </div>
        <div class="form-group col-sm-10">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address"
            name="address" value="<%= item.address %>"/>
        </div>
        <div class="form-group col-sm-10">
          <label for="contact">CONTACT:</label>
          <input type="text" class="form-control" id="contact"
            name="contact" value="<%= item.contact %>" />
        </div>
        <div class="form-group col-sm-10">
          <label for="item">ITEM:</label>
          <input
            type="text"
            class="form-control"
            id="item"
            name="item"
            value="<%= item.item %>"/>
        </div>
  <div class="row">
        <div class="form-group col-sm-3">
          <label for="pol">POL:</label>
          <input type="text" class="form-control" id="pol"
            name="pol" value="<%= item.pol %>"/>
        </div>
        <div class="form-group col-sm-3">
          <label for="pod">POD:</label>
          <input
            type="text"
            class="form-control"
            id="pod"
            name="pod" value="<%= item.pod %>"
            />
        </div>
        <div class="form-group col-sm-3">
          <label for="mode">MODE:</label>
          <select class="form-control" id="mode" name="mode" value="<%= item.mode %>">
            <option value>--Select Status--</option>
            <option value="Checking">Rail</option>
            <option value="Checking">Truck</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label for="type">TYPE:</label>
          <input type="text" class="form-control" id="type" name="type" value="<%= item.type %>" />
        </div>
  </div>
     
</div>
</div>
</div>
<div class="col-lg-4 grid-margin stretch-card">
<div class="card">
<div class="card-body">
  <h4 class="card-title">Tracking 정보입력</h4>
  <hr>
  <div class="form-group">
<label for="current" class="col-sm-6">Current Location:</label>
<input type="text" class="form-control" id="current" name="current" value="<%= item.current %>"/>
</div>
<p class="card-subtitle">
  <h5 style="color: #343642; font-weight: bold;">Origin</h5>
</p>
<div class="row">
<div class="form-group col-sm-6">
  <label for="etd1" class="col-sm-6">ETD:</label>
  <input type="date" class="form-control" id="etd1"
    name="etd1" value="<%= item.etd1 %>"/>
</div>
<div class="form-group col-sm-6">
  <label for="atd1" class="col-sm-6">ATD:</label>
  <input type="date" class="form-control" id="atd1"
    name="atd1" value="<%= item.atd1 %>"/>
</div>
</div>
<p class="card-subtitle">
  <h5 style="color: #343642; font-weight: bold;">Border</h5>
</p>
<div class="row">
  <div class="form-group col-sm-6">
    <label for="eta2" class="col-sm-6">ETA:</label>
    <input type="date" class="form-control" id="eta2"
      name="eta2" value="<%= item.eta2 %>"/>
  </div>
  <div class="form-group col-sm-6">
    <label for="ata2" class="col-sm-6">ATA:</label>
    <input type="date" class="form-control" id="ata2"
      name="ata2" value="<%= item.ata2 %>" />
    </div>
  </div>
      <div class="row">
<div class="form-group col-sm-6">
  <label for="etd2" class="col-sm-6">ETD:</label>
  <input type="date" class="form-control" id="etd2"
    name="etd2" value="<%= item.etd2 %>" />
</div>
<div class="form-group col-sm-6">
  <label for="atd2" class="col-sm-6">ATD:</label>
  <input type="date" class="form-control" id="atd2"
    name="atd2" value="<%= item.atd2 %>"/>
</div>
</div>
<p class="card-subtitle">
<h5 style="color: #343642; font-weight: bold;">Station</h5>
</p>
<div class="row">
<div class="form-group col-sm-6">
  <label for="eta3" class="col-sm-6">ETA:</label>
  <input type="date" class="form-control" id="eta3"
    name="eta3" value="<%= item.eta3 %>" />
</div>
<div class="form-group col-sm-6">
  <label for="ata3" class="col-sm-6">ATA:</label>
  <input type="date" class="form-control" id="ata3"
    name="ata3" value="<%= item.ata3 %>"/>
</div>
</div>
<p class="card-subtitle">
  <h5 style="color: #343642; font-weight: bold;">Final</h5>
</p>
<div class="row">
<div class="form-group col-sm-6">
  <label for="eta4" class="col-sm-6">ETA:</label>
  <input type="date" class="form-control" id="eta4"
    name="eta4" value="<%= item.eta4 %>"/>
</div>
<div class="form-group col-sm-6">
  <label for="ata4" class="col-sm-6">ATA:</label>
  <input type="date" class="form-control" id="ata4"
    name="ata4" value="<%= item.ata4 %>"/>
  </div>
</div>

</div>
</div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
  <h4 class="card-title">Cost Detail</h4>
    <hr>
    <div class="row">
            <div class="form-group col-sm-6">
                <label for="cost_details">원가 세부:</label>
                <input type="text" class="form-control" id="cost_details" name="cost_details" value="<%= item.cost_details %>"/>
            </div>
            <div class="form-group col-sm-6">
              <label for="cost">원가</label>
              <input type="text" class="form-control" id="cost"
                name="cost" value="<%= item.cost%>"/>
            </div>
      </div>
      <div class="row">
              <div class="form-group col-sm-6">
                <label for="selling_detail">청구 세부:</label>
                <input
                  type="text"
                  class="form-control"
                  id="selling_detail"
                  name="selling_detail" value="<%= item.selling_detail %>"/>
              </div>
              <div class="form-group col-sm-6">
                <label for="selling">청구가:</label>
                <input type="text" class="form-control" id="selling"
                  name="selling" value="<%= item.selling %>"/>
              </div>
        </div>
              <div class="form-group col-sm-6">
                <label for="profit">PROFIT:</label>
                <input type="text" class="form-control" id="profit" name="profit" value="<%= item.profit %>" />
              </div>
</div>
</div>
</div>

</div>

        <button type="submit" class="btn btn-primary">Modify Item</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
<%- include('../partials/footer') %>
<script src="/js/bundlebase.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
